<div class="header">

        <div class="logo-ap">
                <img class="arg-pro" src="../../../assets/APLogo.png">
        </div>

        <div class="nav-links">
                <a href="" class="home link">
                        Home
                </a>
                <a href="" class="about link">
                        About
                </a>
                <a href="" class="projects link">
                        Projects
                </a>
                <a href="" class="contacts link">
                        Contacts
                </a>
        </div>

        <div class="social-container">
                <a href="#"><img src="../../../assets/instagram.png" alt="Logo Instagram" class="social"></a>
                <a href="#"><img src="../../../assets/linkedin.png" alt="Logo Linkedin" class="social"></a>
                <a href="#"><img src="../../../assets/twitter.png" alt="Logo Twitter" class="social"></a>
                <a href="#"><img src="../../../assets/github.png" alt="Logo GitHub" class="social"></a>
        </div>

</div>