<div class="social-icons">

        <a [href]="ramiro.github">
                <span class="iconify" data-icon="icon-park-outline:github-one" style="color: #FFDE00; font-size: 30px;">
                </span>
        </a>
        <a [href]="ramiro.twitter">
                <span class="iconify" data-icon="eva:twitter-outline" style="color: #FFDE00; font-size: 30px;">
                </span>
        </a>
        <a [href]="ramiro.linkedin">
                <span class="iconify" data-icon="la:linkedin" style="color: #FFDE00; font-size: 30px;">
                </span>
        </a>
        <a [href]="ramiro.instagram">
                <span class="iconify" data-icon="ant-design:codepen-outlined" style="color: #FFDE00; font-size: 30px;">
                </span>
        </a>
        <a [href]="ramiro.soy2">
                <span class="iconify" data-icon="material-symbols:logo-dev-outline" style="color: #ffde00;"
                        data-width="30" data-height="30">
                </span>
        </a>

</div>